<div class="center"> 
  <div class="form"> 
    <h2>Sign up</h2>

    <p>Warning: I manage passwords/users using the devise ruby gem. Thus any personal info/password
    should be secured correctly. However, I'd still recommend using a different password if you are 
    signing into my site (possibly even a password manager). You can delete your data at any time under "Edit Account"</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
