<% def shorten(text, length, display) %>
    <% if display == "preview" && text.length > length %>
        <% return text[0, length] + "..." %>
    <% else %>
        <% return text %>
    <%end%>
<% end %>

<div id="<%= dom_id post %>" class="post <%= display %>">
    <h1><%= shorten(post.title, 20, display) %></h1>
    <h3><%= "@" + shorten(post.user.username, 50, display) %> - Last Updated: <%= post.updated_at.to_formatted_s(:db) %></h3>
    <p><%= shorten(post.body, 100, display)%>

    <% if display != "preview" %>
        <hr>
    <% end %>
</div>


