
<div class="center">
  <div class="post_controls">
    <%= link_to "Back to posts", posts_path, class: "button" %>

    <% if @post.user == current_user || current_user.try(:admin) %>
      <%= link_to "Edit post", edit_post_path(@post), class: "button" %> 
      <%= button_to "Delete post", @post, method: :delete, class: "button button_normalize" %>
    <% end %>
  </div>
  <%= render @post, display: "show" %>
  <% if user_signed_in? %>
    <%= render "comments/form", post: @post %>
  <% end %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <% unless comment == @comments.first%>
        <hr>
      <%end%>
      <%= render comment %>
    <% end %>
  </div>
</div>







